<%== ERB.new(File.read('app/views/shared/_main_post.html.erb'), nil, nil, '_sub01').result(binding) %>


<div class="row mb-2">
  <%== ERB.new(File.read('app/views/shared/_second_post.html.erb'), nil, nil, '_sub02').result(binding) %>
</div>


<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>
      <%== ERB.new(File.read('app/views/shared/_post.html.erb'), nil, nil, '_sub03').result(binding) %>
    </div>
    <%== ERB.new(File.read('app/views/shared/_side_menu.html.erb'), nil, nil, '_sub04').result(binding) %>
  </div>

  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
</main>
