<!DOCTYPE html>
<html>
  <head>
    <title>ErbTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%== ERB.new(File.read('app/views/shared/_header.html.erb'), nil, nil, '_sub0asfgdsasdd').result(binding) %>
      <%= yield %>
    </div>
    <%== ERB.new(File.read('app/views/shared/_footer.html.erb'), nil, nil, '_sub02aasdgsd').result(binding) %>
  </body>
</html>
